# Auto detect text files and perform LF normalization
* text=auto
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.xml text eol=lf
*.Dockerfile text eol=lf
*.png binary
*.ttf binary
*.wav binary
*.xcf binary
/install-deps text eol=lf
preload text eol=lf
/botpanel/install-pupbots text eol=lf
/botpanel/start text eol=lf
/botpanel/start.legacy text eol=lf
/botpanel/stop text eol=lf
/botpanel/uninstall text eol=lf
/botpanel/update text eol=lf
